/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.shadow {
  height: 5px;
  display: block;
  margin: 15px auto;
  width: 50%;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}
