/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.shadow {
  height: 5px;
  display: block;
  margin: 15px auto;
  width: 50%;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}

.range {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.range::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
